@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  @supports (padding-top: constant(safe-area-inset-top)) {
    body {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
}