@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body.modalOpen {
    overflow: hidden;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  input, textarea {
    @apply px-3 md:py-1.5 py-3 w-full rounded-lg border border-solid border-stone-300 placeholder:text-stone-400
    focus:text-stone-800 focus:bg-white focus:border-yellow-400 focus:outline-none;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'K2D';
    src: url('/font/K2D-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
}